<link rel="import" href="../hs-test/hs-test.html">

<hisho-module name="hs-css">
    <template>
        
        <link rel="stylesheet" href="hs-css.css">

        <div class="hs-css">
            <hs-test>
                <p class="first">あああああああ</p>
                <p>いいいいいいいい</p>
            </hs-test>
            <p>テストテストテストテストテストテストテストテスト</p>
        <!--/.hs-css--></div>

    </template>
    
    <script src="hs-css.js"></script>
    <script>
        (function(){
            hs("hs-css", {
                el: aaaaaa,
                initalize: function(){
                }
            });
        })();
    </script>

</hisho-module>
